[submodule "sub-modules/Ntreev.Library"]
	path = sub-modules/Ntreev.Library
	url = https://github.com/s2quake/Ntreev.Library.git
[submodule "sub-modules/Ntreev.Library.Commands"]
	path = sub-modules/Ntreev.Library.Commands
	url = https://github.com/s2quake/CommandLineParser.git
